.octopus {
	position: relative;
	margin-left: 40%;
	top: 50px;
	


}

.hat {
	position: relative;
	bottom: 130px;
	right: 240px;
	

}

.glasses {
	position:relative;
	bottom: 80px;
	right: 450px;

}